*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

/* header */

.titolo{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
}

.logo{
    vertical-align: middle;
}

.contenitore-header{
    background-color: white;
    height: 80px;
    padding: 10px;
    margin-bottom: 50px;
}

/* main */

/* prima sezione di main */

.button-principale{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.task{
    background-color: #48ADF0;
    color: white;
    border: none;
}

.section{
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
}

.button{
    border-radius: 5px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* seconda section di main */

.contenitore{
    max-width: 900px;
    margin: auto;
    background-color: white;
    padding-left: 50px;
}

.main{
    height: 600px;
    margin-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sezione{
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
    color: #5B5F66;
}

ul{
    list-style: none;
}

li{
    margin-top: 10px;
    margin-bottom: 25px;
}

.spunta{
    color: green;
    border: 1px solid green;
    padding: 2px 4px;
}

.check{
    border-radius: 50%;
    font-size: 10px;
    margin-right: 10px;
}

.cross{
    color: red;
    border: 1px solid red;
    padding: 2px 5px;
}

.rettangolo{
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: 12px;
}

.celeste{
    background-color: #48ADF0;
}

.viola{
    background-color: #9C72E4;
}

.verde{
    background-color: #64C0A9;
}

.arancione{
    background-color: #F29E33;
}

.rosa{
    background-color: #D863A1;
}

.verdechiaro{
    background-color: #B2Ca2A;
}

