*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

/* header */

.titolo{
    color #051A34;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

.contenitore-header{
    background-color: white;
    height: 80px;
    padding: 10px;
}

/* main */

/* prima section di main */

.contenitore-button{
    max-width: 900px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.button-task{
    background-color: #48ADF0;
    border-radius: 5px;
    color: white;
    padding: 8px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    border: none;
}

.button-section{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    color: lightgrey;
    border: 1px solid lightgrey;
}

/* seconda section di main */

.contenitore-main{
    /* rimuovere heigt */
    height: 600px;
    max-width: 900px;
    margin: auto;
    background-color: white;
    margin-top: 3px;
}

.contenuto-main{
    padding-left: 50px;
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
    color: #5B5F66;
}


ul{
    list-style: none;
}

.celeste{
    background-color: #48ADF0;
    border-radius: 10px;
    color: white;
}